body{
    background-color: rgb(104, 104, 104);
}

.header{
  background-color: rgb(177, 175, 175);
  align-items: center;
}

.search_area{
    margin-top: 10px;
}

.menu_area{
    align-items: center;
}
.navbar-nav a{
    margin-left: -10px;
}

.footer{
    text-align: center;
    background-color: rgb(177, 175, 175);
    height: 70px;
}
.footer_text{
    margin-top: 20px;
}

.search{
    background-color: rgb(177, 175, 175);
    width: 100%;
}

.text_perfil{
    padding-top: 10px;
    padding-left: 30px;
}
.image_perfil{
    padding: 10px;
}
img {
    width: 100%;
    border-radius: 15px;
}

.social_media_area a{
    color: inherit;
}

.social_media_area a:hover{
    color: rgb(59, 59, 59);
}

.icons_social i{
    font-size: 20px;
}

.projetos_images{
    display: inline;
    padding: 10px;
    margin-bottom: 10px;
}

.dropdown{
    position: absolute;
    display: inline;
    right: 0;
    padding-right: 1em;
}

.projetos h1{
    display: inline;
}
.projetos{
    padding-bottom: 10px;
}

.btn_more{
    display: inline;
    right: 0;
    padding-right: 1em;
    padding-bottom: 30px;

}

.experience img{
    padding: 5px;
}

hr {
	border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#dbdbdb;
    height: 2.5px;
}

.repositories{
    background-color: rgb(177, 175, 175);
}

iframe{
    margin: 5px;
    width: 100%;
    height: 100%;
}

.text_videos{
    
}