.btn-social {
    display: flex;
    align-items: center;
    transition: color 0.3s ease, transform 0.2s ease, opacity 0.3s ease;
    height: 50px;
}

.btn-social img {
    user-select: none;
    -webkit-user-drag: none;
}

.btn-social :hover {
    opacity: 0.8;
    transform: translateY(-2px);
}