.section-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1rem 5rem;
}

.header-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title-experience {
    color: var(--font-titleHeader);
    font-size: 28px;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-divider-experience {
    background-color: var(--background-secondary);
    width: 30px;
    height: 6px;
    margin: 5px 0px;
    border-radius: 62px;
}

.panel-experience {
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    padding: 1rem 1.2rem;
    background-color: var(--background-panel-experience);
    font-family: 'Inconsolata', Courier, monospace;
    max-width: 900px;
    margin: 2rem auto;
}

.experience-item {
    display: flex;
    gap: 1.5rem;
}

.experience-item:not(:last-child) {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-secondary);
}

.experience-logo {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
}

.experience-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.experience-details {
    flex-grow: 1;
}

.experience-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 0 0.25rem 0;
    color: var(--font-title-experience);
}

.experience-company {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 0.5rem 0;
    color: var(--font-company-experience);
}

.experience-subtext {
    font-size: 0.9rem;
    margin: 0 0 0.25rem 0;
    color: var(--font-subtext-experience);
    font-family: sans-serif;
}

.experience-skills {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-secondary);
}

.experience-skills p {
    margin: 0;
    line-height: 1.5;
}

.skill-icon {
    height: 20px;
    width: 20px;
}


/* Telas entre 1300px e 1900px */
@media (max-width: 1900px) and (min-width: 1301px) {
    .section-experience {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 1rem 5rem;
    }

}

/* Telas entre 768px e 1300px*/
@media (max-width: 1300px) and (min-width: 769px) {

}

/* Estilos para Mobile */
@media (max-width: 768px) {

    .section-experience {
        padding: 2rem 1.5rem;
    }

    .panel-experience {
        margin: 2rem 0 0 0;
    }

    .experience-title {
        font-size: 1rem;
        font-weight: bold;
        margin: 0 0 0.25rem 0;
    }

    .experience-company {
        font-size: 0.9rem;
        font-weight: 600;
        margin: 0 0 0.5rem 0;
    }

    .experience-subtext {
        font-size: 0.7rem;
        margin: 0 0 0.25rem 0;
    }

    .experience-skills {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        margin-top: 1rem;
        font-size: 0.7rem;
        font-weight: 600;
    }

    .experience-skills p {
        margin: 0;
        line-height: 1.5;
    }

    .skill-icon {
        height: 20px;
        width: 20px;
    }
    
}