.section-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 4rem 5rem;
}

.header-project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title-project {
    color: var(--font-titleHeader);
    font-size: 28px;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-divider-project {
    background-color: var(--color-secondary);
    width: 30px;
    height: 6px;
    margin: 5px 0px;
    border-radius: 62px;
}

.panel-project {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem;
    font-family: monospace;
    margin-top: -10px;
}

.project-card {
    width: 356px;
    text-decoration: none;
    display: block;
    background-color: var(--background-projectCard);
    border-radius: 8px; 
}

.card-inner-wrapper {
    background-color: var(--background-projectCard);
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform; 
}

.project-image-container {
    position: relative;
    margin-bottom: -1px;
}

.project-card:hover .card-inner-wrapper {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.project-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

.project-content {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.project-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title {
    margin: 0;
    font-size: 1.5rem;
    color: var(--color-title-projectCard);
}

.project-link-icon {
    font-size: 1.5rem;
    color: var(--color-link-projectCard);
    transition: color 0.3s ease;
}

.project-category {
    margin: 0.25rem 0 1rem 0;
    font-size: 0.9rem;
    color: var(--color-category-projectCard);
}

.project-description {
    margin: 0;
    font-size: 1rem;
    line-height: 1.4;
    text-align: justify;
    color: var(--color-description-projectCard);
    flex-grow: 1;
}

.project-header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background-color: rgba(66, 66, 66, 0.8);
    box-sizing: border-box;
}

.tag-unity {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #f0f0f0;
    font-size: 0.9rem;
    font-weight: bold;
}

.platform-icons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.platform-icon {
    height: 15px;
    width: 15px;
}

.project-button-view {
    margin-top: -15px;
}


/* Telas entre 1300px e 1900px */
@media (max-width: 1900px) and (min-width: 1301px) {
    .section-project {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 4rem 5rem;
    }

}

/* Telas entre 768px e 1300px*/
@media (max-width: 1300px) and (min-width: 769px) {
    .section-project {
        padding: 2rem 1.5rem;
    }

    .panel-project {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 2rem 0rem;
        font-family: monospace;
    }

    .project-card {
        width: 300px;
        text-decoration: none;
        display: block;
        border-radius: 8px; 
    }

    .card-inner-wrapper {
        border-radius: 8px;
        overflow: hidden;
        height: 400px;
    }

    .project-description {
        margin: 0;
        font-size: 0.8rem;
        line-height: 1.5;
        flex-grow: 1;
    }

    .project-button-view {
        margin-top: -5px;
    }
}

/* Estilos para Mobile */
@media (max-width: 768px) {

    .section-project {
        padding: 2rem 1.5rem;
    }

    .panel-project {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 2rem 1rem;
        font-family: monospace;
    }

    .project-card {
        width: 300px;
        text-decoration: none;
        display: block;
        border-radius: 8px; 
    }

    .card-inner-wrapper {
        border-radius: 8px;
        overflow: hidden;
        height: 400px;
    }

    .project-description {
        margin: 0;
        font-size: 0.8rem;
        line-height: 1.5;
        flex-grow: 1;
    }
    
}