.loading-home {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-primary);
  z-index: 999;
  overflow: hidden;
}

.loading-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image-rotate {
  width: 120px;
  height: 120px;
  animation: spin 4s linear infinite;
  user-select: none;
  -webkit-user-drag: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}